* {
    background-color: #1b1b1b
}

body {
    line-height: normal;
}

:root {
    /* commons */
    --font-inter: Inter;
    --mate: #1b1b1b;
    --blanco: #fff;
    --rojo: #c40233;
    --color-black: #000;
}

.grid_principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: transparent;
    height: 150px;
}

.div2 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #c40233;
    text-align: center;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #c40233;
    text-align: center;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
    background-color: #c40233;
    text-align: center;
}

.div5 {
    grid-area: 4 / 2 / 5 / 3;
    background-color: #c40233;
    text-align: center;
}

.div6 {
    grid-area: 5 / 1 / 6 / 3;
    background-color: #c40233;
    text-align: center;
}

.imagen-de-whatsapp-2024-02-17-icon1 {
    background-color: transparent;
    top: 1px;
    height: 172.1px;
    width: 200px;

    object-fit: cover;
    position: fixed;
    z-index: 99 !important;
}

.user_icon {
    width: 47px;
    height: 43px;

    cursor: pointer;
    z-index: 1;
    left: 250px;
    top: 30px;
    position: fixed;

}

.circular_image {
    top: 5px;
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 65px;
    object-fit: cover;
    /* z-index: 1; */
}

/* Titulo */
h4 {
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    font-size: 11px;
    margin: 2px;
}

h2 {
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    font-size: 20px;
    margin: 2px;
    align-items: center;
}
.horizontal_image {
    top: 5px;
    width: 280px;
    height: 110px;
    position: relative;
    object-fit: cover;
    /* z-index: 1; */
    left: 4px;
}

.vertical_image {
    top: 10px;
    width: 130px;
    height: 310px;
    position: relative;
    border-radius: 0px;
    object-fit: cover;
    /* z-index: 1; */
    left: 4px;
}